#Youcompleteme
.ycm_extra_config.py

#Vim 
**/*.swp

# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**./*.wast
**/*.wasm
**/*.abi
**/*.obj
**/*.out

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Temporary
**/tmp/ 
**/temp.*
